/Protocol.interp
/Protocol.tokens
/ProtocolBaseListener.java
/ProtocolBaseVisitor.java
/ProtocolLexer.interp
/ProtocolLexer.java
/ProtocolLexer.tokens
/ProtocolListener.java
/ProtocolParser.java
/ProtocolVisitor.java
